@import url(./_theme/section-title_theme_dark.css);
.section-title {
  width: 60%;
  font-size: 60px;
  line-height: 69px;
  font-weight: bold;
  align-self: center;
  text-align: center;
  margin: 0;
}
