.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("/images/triangle.svg");
  background-repeat: no-repeat;
  background-size: 877px 877px;
  background-position: top right -210px;
}

.kaufman > ol {
  padding: 0;
  margin: 0;
}
